In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\hariprasad\appdata\local\programs\python\python312\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hariprasad\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Assignment 1
**Deadline**: 8th December 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [2]:
from pymongo import MongoClient


client = MongoClient("mongodb://localhost:27017/")
db = client['assignment_db']  
collection = db['students']


students_data = [
    {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
    {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
    {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
    {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
    {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
]


collection.insert_many(students_data)
print("Data inserted successfully!")

Data inserted successfully!

2. Write a query to find all students who have a 'math_score' greater than 80.

In [3]:
result = collection.find({"math_score": {"$gt": 80}})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [4]:
result = collection.find({"age": {"$lt": 23}})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942b'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942d'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [5]:
result = collection.find({}, {"name": 1, "math_score": 1, "_id": 0})
for student in result:
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [6]:
result = collection.find({"city": "New York"})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Bob' to 85.

In [7]:
collection.update_one({"name": "Bob"}, {"$set": {"physics_score": 85}})
print("Update complete.")

Update complete.

7. Write a query to delete the student 'David' from the collection.

In [10]:
collection.delete_one({"name": "David"})
print("Student deleted successfully.")

Student deleted successfully.

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [11]:
result = collection.find({"math_score": {"$gte": 70, "$lte": 90}})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942b'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942e'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [12]:
result = collection.find({"$expr": {"$gt": ["$math_score", "$physics_score"]}})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942b'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [8]:
result = collection.find().sort("math_score", -1)
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942b'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942e'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942d'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [9]:
result = collection.aggregate([
    {"$group": {"_id": None, "average_math_score": {"$avg": "$math_score"}}}
])
for data in result:
    print(data)

{'_id': None, 'average_math_score': 78.0}

12. Write a query to group students by 'city' and count the number of students in each city.

In [13]:
result = collection.aggregate([
    {"$group": {"_id": "$city", "student_count": {"$sum": 1}}}
])
for city in result:
    print(city)

{'_id': 'Chicago', 'student_count': 1}
{'_id': 'New York', 'student_count': 1}
{'_id': 'Houston', 'student_count': 1}
{'_id': 'Phoenix', 'student_count': 1}
{'_id': 'Los Angeles', 'student_count': 1}

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [14]:
result = collection.find({
    "$or": [
        {"math_score": {"$gt": 80}},
        {"physics_score": {"$gt": 85}}
    ]
})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [15]:
result = collection.find({
    "age": 23,
    "city": "Phoenix"
})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942e'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [16]:
result = collection.find({
    "math_score": {"$ne": 85}
})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942b'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942d'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942e'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [18]:
result = collection.find({
    "name": {"$regex": "^A", "$options": "i"}
})
for student in result:
    print(student)

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [19]:
result = collection.find({
    "city": {"$nin": ["New York", "Los Angeles"]}
})
for student in result:
    print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942d'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('6755d2607fe2f1dfcb70942e'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [20]:
result = collection.update_many(
    {"age": {"$gt": 22}},  
    {"$set": {"graduated": True}})
print(f"Modified {result.modified_count} documents.")

Modified 3 documents.

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [21]:
result = collection.update_many(
    {"city": "Chicago"},
    {"$unset": {"physics_score": ""}})
print(f"Modified {result.modified_count} documents.")

Modified 1 documents.

20. Write a query to find the student with the highest 'math_score'.

In [22]:
result = collection.find().sort("math_score", -1).limit(1)
for student in result: print(student)

{'_id': ObjectId('6755d2607fe2f1dfcb70942c'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}